@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.calendar-container {
  border-top: 4px solid #fac863;
  padding-top: 20px;
  margin-top: 20px;
  height: 100%;

  .fc-toolbar-title {
    font-weight: 700;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
